// Font weights
.t-black{font-weight: 900};
.t-extrabold{font-weight: 800};
.t-bold{font-weight: 700};
.t-semibold{font-weight: 600};
.t-medium{font-weight: 500};
.t-regular{font-weight: 400};
.t-light{font-weight: 300};
.t-italic{font-style: italic};
.t-uppercase {text-transform: uppercase;}

// Text positions
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}

// Font families
.font-1 {
  font-family: $font-1;
}

.font-2 {
  font-family: $font-2;
  letter-spacing: rvw(2);
}

// Font sizes
.t-120 {
  font-size: rvw(120);
  line-height: rvw(130);
}

.t-80 {
  font-size: rvw(80);
  line-height: rvw(84);
}

.t-22 {
  font-size: rvw(22);
  line-height: rvw(26);
}

.t-14 {
  font-size: rvw(14);
  line-height: rvw(22);
}
